In [0]:
# With this registered as a temp view, it will only be available to this particular notebook. If you'd like other users to be able to query this table, you can also create a table from the DataFrame.
# Once saved, this table will persist across cluster restarts as well as allow various users across different notebooks to query this data.
# To do so, choose your table name and uncomment the bottom line.

permanent_table_name = "HR_Employee_csv"

# df.write.format("parquet").saveAsTable(permanent_table_name)

In [0]:
# Spark Context
sc

In [0]:
# a)	Create HR_Employee Pysaprk dataFrame. 
HR_Employee = spark.read.csv("dbfs:/FileStore/tables/HR_Employee.csv",header = True , inferSchema = True)

In [0]:
#b)	Show printSchema & show 10 rows of Dataset
HR_Employee.show(10,False)

+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|Department            |JobRole                  |Attrition|Gender|Age|MaritalStatus|Education    |EducationField|BusinessTravel   |JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|1         |Sales                 |Sales Executive          |Yes      |Female|41 |Single       |College      |Life Sciences |Travel_Rarely    |High          |2       |Very High      |94        |5993  |11        |Yes     |8     |0                      |Medium         |0                    |Bad            |Excellent         |
|2         |Research & Development|Research Scientist       |No       |Male  |49 |Married      |Below College|Life Sciences |Travel_Frequently|Medium        |2       |Medium         |61        |5130  |23        |No      |10    |1                      |High           |3                    |Better         |Outstanding       |
|3         |Research & Development|Laboratory Technician    |Yes      |Male  |37 |Single       |College      |Other         |Travel_Rarely    |Medium        |1       |High           |92        |2090  |15        |Yes     |7     |0                      |Very High      |3                    |Better         |Excellent         |
|4         |Research & Development|Research Scientist       |No       |Female|33 |Married      |Master       |Life Sciences |Travel_Frequently|High          |1       |High           |56        |2909  |11        |Yes     |8     |3                      |Very High      |3                    |Better         |Excellent         |
|5         |Research & Development|Laboratory Technician    |No       |Male  |27 |Married      |Below College|Medical       |Travel_Rarely    |High          |1       |Medium         |40        |3468  |12        |No      |6     |2                      |Low            |3                    |Better         |Excellent         |
|6         |Research & Development|Laboratory Technician    |No       |Male  |32 |Single       |College      |Life Sciences |Travel_Frequently|High          |1       |Very High      |79        |3068  |13        |No      |8     |3                      |Very High      |2                    |Good           |Excellent         |
|7         |Research & Development|Laboratory Technician    |No       |Female|59 |Married      |Bachelor     |Medical       |Travel_Rarely    |Very High     |1       |Low            |81        |2670  |20        |Yes     |12    |0                      |High           |3                    |Good           |Outstanding       |
|8         |Research & Development|Laboratory Technician    |No       |Male  |30 |Divorced     |Below College|Life Sciences |Travel_Rarely    |High          |1       |High           |67        |2693  |22        |No      |1     |0                      |Very High      |2                    |Better         |Outstanding       |
|9         |Research & Development|Manufacturing Director   |No       |Male  |38 |Single       |Bachelor     |Life Sciences |Travel_Frequently|Medium        |3       |High           |44        |9526  |21        |No      |10    |1                      |Very High      |2                    |Better         |Outstanding       |
|10        |Research & Development|Healthcare Representative|No       |Male  |36 |Married      |Bachelor     |Medical       |Travel_Rarely    |High          |2       |High           |94        |5237  |13        |No      |17    |7                      |High           |3                    |Good           |Excellent         |
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

In [0]:
HR_Employee.createOrReplaceTempView("HR_Emp_df")

In [0]:
# c)	Most employee is working in which department
spark.sql("select Department ,count(*) as most_nu_employee from HR_Emp_df group by Department order by most_nu_employee desc ").show()

+--------------------+----------------+
|          Department|most_nu_employee|
+--------------------+----------------+
|Research & Develo...|             961|
|               Sales|             445|
|     Human Resources|              63|
+--------------------+----------------+

In [0]:
# d)	Highest number of job roles
spark.sql("select Max(JobRole) as Job_role,count(*) as most_nu_employee from HR_Emp_df  ").show()

+--------------------+----------------+
|            Job_role|most_nu_employee|
+--------------------+----------------+
|Sales Representative|            1469|
+--------------------+----------------+

In [0]:
# e)	Which gender have higher strength as workforce?

spark.sql("select Max(Gender) as Gender,count(*) as most_Strength from HR_Emp_df  ").show()

+------+-------------+
|Gender|most_Strength|
+------+-------------+
|  Male|         1469|
+------+-------------+

In [0]:
# f)	Compare the marital status of employee and find the most frequent status.
spark.sql("select MaritalStatus as Gender,count(*) as most_frequent_status from HR_Emp_df where BusinessTravel ='Travel_Frequently' group by MaritalStatus ").show()

+--------+--------------------+
|  Gender|most_frequent_status|
+--------+--------------------+
| Married|                 118|
|Divorced|                  63|
|  Single|                  96|
+--------+--------------------+

In [0]:
# g)	Mostly hired employee have qualification

spark.sql("select Education, count(*) as Number_Employee from HR_Emp_df  group by Education order by Number_Employee desc").show()

+-------------+---------------+
|    Education|Number_Employee|
+-------------+---------------+
|     Bachelor|            572|
|       Master|            398|
|      College|            282|
|Below College|            169|
|       Doctor|             48|
+-------------+---------------+

In [0]:
# h)	Find the count of employee from which education fields 

spark.sql("select EducationField, count(*) as Number_Employee from HR_Emp_df  group by EducationField order by Number_Employee desc").show()

+----------------+---------------+
|  EducationField|Number_Employee|
+----------------+---------------+
|   Life Sciences|            605|
|         Medical|            464|
|       Marketing|            159|
|Technical Degree|            132|
|           Other|             82|
| Human Resources|             27|
+----------------+---------------+

In [0]:
# i)	What is the job satisfaction level of employee?
spark.sql("select    JobSatisfaction , count(*) as Number_Employee from HR_Emp_df  group by JobSatisfaction order by Number_Employee desc").show()

+---------------+---------------+
|JobSatisfaction|Number_Employee|
+---------------+---------------+
|      Very High|            459|
|           High|            441|
|            Low|            289|
|         Medium|            280|
+---------------+---------------+

In [0]:
# j)	Does most of employee do overtime: Yes or No?

spark.sql("select Overtime, count(*) as Number_Employee from HR_Emp_df where OverTime ='Yes' or Overtime ='No' group by Overtime ").show()

+--------+---------------+
|Overtime|Number_Employee|
+--------+---------------+
|      No|           1053|
|     Yes|            416|
+--------+---------------+

In [0]:
# k)	Find Min & Max Salaried employees. 
spark.sql("select Max(Income) as Maximun_sal,Min(Income) as Minimun_sal  from HR_Emp_df ").show()

+-----------+-----------+
|Maximun_sal|Minimun_sal|
+-----------+-----------+
|      19999|       1009|
+-----------+-----------+

In [0]:
# l)	Does most of the employee do business travel? Find of the employees counts for each category   BusinessTravel   
spark.sql("select JobRole , count(*) as Number_Employee from HR_Emp_df where BusinessTravel ='Travel_Frequently' group by JobRole ").show()

+--------------------+---------------+
|             JobRole|Number_Employee|
+--------------------+---------------+
|     Sales Executive|             59|
|Manufacturing Dir...|             29|
|Laboratory Techni...|             51|
|Sales Representative|             23|
|Healthcare Repres...|             26|
|  Research Scientist|             54|
|             Manager|             13|
|   Research Director|             12|
|     Human Resources|             10|
+--------------------+---------------+

In [0]:
# m)	Find the AVG salary of graduate employee.

spark.sql("select mean(Income) as Averge_sal_employee  from HR_Emp_df where Education = 'Bachelor' ").show()

+-------------------+
|Averge_sal_employee|
+-------------------+
|  6517.263986013986|
+-------------------+

In [0]:
#n)    Find the employee qualification receiving salary lower than equal to avg. salary of all employee. 

spark.sql("select Income, Education from HR_Emp_df where Income <= (select avg(Income) from HR_Emp_df)").show()

+------+-------------+
|Income|    Education|
+------+-------------+
|  5993|      College|
|  5130|Below College|
|  2090|      College|
|  2909|       Master|
|  3468|Below College|
|  3068|      College|
|  2670|     Bachelor|
|  2693|Below College|
|  5237|     Bachelor|
|  2426|     Bachelor|
|  4193|      College|
|  2911|Below College|
|  2661|      College|
|  2028|     Bachelor|
|  3298|      College|
|  2935|      College|
|  3944|     Bachelor|
|  4011|      College|
|  3407|       Master|
|  1232|      College|
+------+-------------+
only showing top 20 rows

In [0]:
#o)    When does the employee have highest chance of promotion in terms of working year
spark.sql("select Performance_Rating, count(*) as PromotionChance from HR_Emp_df  group by Performance_Rating order by PromotionChance desc ").show()

+------------------+---------------+
|Performance_Rating|PromotionChance|
+------------------+---------------+
|         Excellent|           1243|
|       Outstanding|            226|
+------------------+---------------+

In [0]:
#p)    Highest attrition is in which department?
spark.sql("select Department, count(*) as totalcount from HR_Emp_df where Attrition='Yes' group by Department order by totalcount desc ").show()

+--------------------+----------+
|          Department|totalcount|
+--------------------+----------+
|Research & Develo...|       133|
|               Sales|        92|
|     Human Resources|        12|
+--------------------+----------+

In [0]:
#q)    Show marital status of Person having highest attrition rate

spark.sql("select MaritalStatus, count(*) as HighAttrition from HR_Emp_df where Attrition='Yes' group by MaritalStatus order by HighAttrition desc ").show(1)

+-------------+-------------+
|MaritalStatus|HighAttrition|
+-------------+-------------+
|       Single|          120|
+-------------+-------------+
only showing top 1 row